#
# Copyright (c) 2019, WSO2 Inc. (http://www.wso2.org) All Rights Reserved.
#
#  WSO2 Inc. licenses this file to you under the Apache License,
#  Version 2.0 (the "License"); you may not use this file except
#  in compliance with the License.
#  You may obtain a copy of the License at
#
#  http://www.apache.org/licenses/LICENSE-2.0
#
#  Unless required by applicable law or agreed to in writing,
#  software distributed under the License is distributed on an
#  "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
#  KIND, either express or implied.  See the License for the
#  specific language governing permissions and limitations
#  under the License.
#

# Google reCAPTCHA settings

# Enable Google reCAPTCHA
recaptcha.enabled={{recaptcha.enabled}}

# captcha type
recaptcha.type={{recaptcha.type}}

# Forcefully enable Google reCAPTCHA for all tenants
recaptcha.forcefullyEnabledForAllTenants={{recaptcha.forcefully_enabled_for_all_tenants}}

# reCaptcha API URL
recaptcha.api.url={{recaptcha.api_url}}

# reCaptcha verification URL
recaptcha.verify.url={{recaptcha.verify_url}}

# reCaptcha site key
recaptcha.site.key={{recaptcha.site_key}}

# reCaptcha secret key
recaptcha.secret.key={{recaptcha.secret_key}}

# reCaptcha Enterprise project id
recaptcha.project.id={{recaptcha.project_id}}

# login.do URL paths
{% if recaptcha.redirect_urls is defined %}
recaptcha.failed.redirect.urls={{recaptcha.redirect_urls}}
{% endif %}

# reCaptcha failed redirect urls
#recaptcha.failed.redirect.urls=
[]

{% if recaptcha.bypassed_api_endpoints is defined %}
# reCaptcha bypassed API endpoints
{% set bypassed_api_endpoints = recaptcha.bypassed_api_endpoints %}
recaptcha.bypassed.api.endpoints={{ bypassed_api_endpoints | join(',') }}
{% endif %}

# recaptcha request wrapping paths comma separated
recaptcha.request.wrap.urls={{recaptcha.request_wrap_urls}}

# recaptcha v3 score threshold
recaptcha.threshold={{recaptcha.threshold}}

# recaptcha enterprise score threshold to issue warn logs
recaptcha.threshold.warn={{recaptcha.threshold_warn}}

# reCaptcha API key for enterprise recaptcha
recaptcha.api.key={{recaptcha.api_key}}
