<!--
  ~ Copyright (c) 2023, WSO2 Inc. (http://www.wso2.com)
  ~
  ~ This software is the property of WSO2 Inc. and its suppliers, if any.
  ~ Dissemination of any information or reproduction of any material contained
  ~ herein in any form is strictly forbidden, unless permitted by WSO2 expressly.
  ~ You may not alter or remove any copyright or other notice from copies of this content.
  -->

<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >

<suite name="Identity-connector-password-policy-test-suite">
    <test name="password-policy-authenticator-all" parallel="false">
        <classes>
            <class name="org.wso2.carbon.identity.password.expiry.PasswordResetEnforcerHandlerTest"/>
            <class name="org.wso2.carbon.identity.password.expiry.PasswordPolicyUtilsTest"/>
            <class name="org.wso2.carbon.identity.password.expiry.listener.PasswordExpiryEventListenerTest"/>
            <class name="org.wso2.carbon.identity.password.expiry.PasswordChangeHandler"/>
            <class name="org.wso2.carbon.identity.password.expiry.PasswordExpiryConfigImplTest"/>
        </classes>
    </test>
</suite>
