<?xml version="1.0" encoding="UTF-8"?>

<web-app version="2.5" xmlns="http://java.sun.com/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee
	http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">

    <display-name>WSO2 Identity Server User REST API</display-name>
    <description>WSO2 Identity Server User REST API</description>

    <context-param>
        <param-name>contextConfigLocation</param-name>
        <param-value>WEB-INF/beans.xml</param-value>
    </context-param>

    <filter>
        <filter-name>CaptchaFilter</filter-name>
        <filter-class>org.wso2.carbon.identity.captcha.filter.CaptchaFilter</filter-class>
    </filter>
    <listener>
        <listener-class>
            org.springframework.web.context.ContextLoaderListener
        </listener-class>
    </listener>

    <servlet>
        <servlet-name>CXFServlet</servlet-name>
        <servlet-class>
            org.apache.cxf.transport.servlet.CXFServlet
        </servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>

    <servlet-mapping>
        <servlet-name>CXFServlet</servlet-name>
        <url-pattern>/*</url-pattern>
    </servlet-mapping>

    <!--<filter>-->
    <!--<filter-name>CaptchaFilter</filter-name>-->
    <!--<filter-class>org.wso2.carbon.identity.captcha.filter.CaptchaFilter</filter-class>-->
    <!--</filter>-->

    <filter-mapping>
        <filter-name>CaptchaFilter</filter-name>
        <url-pattern>/questions/initiate</url-pattern>
        <url-pattern>/questions/initiate-all</url-pattern>
        <url-pattern>/questions/verify</url-pattern>
        <url-pattern>/questions/verify-all</url-pattern>
        <url-pattern>/username/claims</url-pattern>
        <url-pattern>/self/register</url-pattern>
        <dispatcher>REQUEST</dispatcher>
    </filter-mapping>

    <session-config>
        <session-timeout>60</session-timeout>
    </session-config>

</web-app>
